.select {
    margin-top: 20px;
    margin-left: 27px;
    /* width: 171px;
    height: 42px; */
    left: 250px;
    top: 90px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    padding: 12px 84px 12px 12px;
}

.drivers-table {
    background: #FFFFFF;
    border: 1px solid #D2D2D2;
    box-sizing: border-box;
    border-radius: 10px;
    margin-left: 27px;
    margin-top: 100px;
}

.drivers-table__header {
    display: block;
    background: #2E3444;
    border-radius: 10px 10px 0px 0px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.drivers-table__body {
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #000000;
    border-bottom: 1px solid #D2D2D2;
    box-sizing: border-box;
    transition: all ease 0.3s;
}

.drivers-table__body:last-child {
    border-bottom: none;
}

.drivers-table__body:hover {
    background: #F6F6F6;
}

.table_id-width {
    width: 60px;
}

.table_fullname-width {
    width: 140px;
}

.table_dob-width {
    width: 120px;
}

.table_phone-width {
    width: 170px;
}

.table_autonumber-width {
    width: 100px;
}

.table_type-width {
    width: 140px;
}

.table_status-width {
    width: 140px;
}

.table_edit-width {
    width: 115px;
}

.drivers-table__header th {
    height: 65px;
    text-align: center;
}

.drivers-table__body td {
    height: 65px;
    text-align: center;
}

.order-dob__link:hover {
    text-decoration-line: underline;
    color: #2A8CFF;
}

.order-phone__link:hover {
    text-decoration-line: underline;
    color: #2A8CFF;
}

.order-dob__link {
    transition: all ease 0.3s;
    color: #000000;
}

.order-phone__link {
    transition: all ease 0.3s;
    color: #000000;
}
