.category-product-table {
    background: #FFFFFF;
    border: 1px solid #D2D2D2;
    box-sizing: border-box;
    border-radius: 10px;
    margin-left: 27px;
    margin-top: 20px;
}

.category-product-table__header {
    display: block;
    background: #2E3444;
    border-radius: 10px 10px 0px 0px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.category-product-table__body {
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #000000;
    border-bottom: 1px solid #D2D2D2;
    box-sizing: border-box;
    transition: all ease 0.3s;
}

.category-product-table__body:last-child {
    border-bottom: none;
}

.category-product-table__body:hover {
    background: #F6F6F6;
}

.category-product-table_id-width {
    width: 100px;
}

.category-product-table_product-width {
    width: 300px;
}

.category-product-table_count_width {
    width: 300px;
}

.category-product-table_status-width {
    width: 240px;
}

.category-product-table_edit-width {
    width: 525px;
}

.category-product-table__header th {
    height: 65px;
    text-align: center;
}

.category-product-table__body td {
    height: 65px;
    text-align: center;
}

.category-product-stores_link:hover {
    text-decoration-line: underline;
    color: #2A8CFF;
}

.category-product-edit_link:hover {
    text-decoration-line: underline;
    color: #2A8CFF;
}

.category-product-stores_link {
    transition: all ease 0.3s;
    color: #000000;
}

.category-product-edit_link {
    transition: all ease 0.3s;
    color: #000000;
}