.authorization-box {
    font-family: Montserrat;
    width: 330px;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 100px; */
    background: #FFFFFF;
    border: 1px solid rgba(0,0,0,0.2);
    box-sizing: border-box;
    border-radius: 10px;
    padding: 35px 31px;
}

.authorization-heading {
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: #000000;
    margin-bottom: 40px;
}

.authorization-form {
    display: flex;
    flex-direction: column;
}

.authorization-form input {
    margin-bottom: 20px;
}

.authorization-login-input,
.authorization-password-input {
    font-family: Montserrat;
    padding: 16px 0 17px 40px;
    width: 260px;
    font-size: 14px;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 4px;
    outline: none;
    position: relative;
}

.authorization-login-input::placeholder, 
.authorization-password-input::placeholder {
    font-family: Montserrat;
    font-size: 14px;
}

.login-input-wrap {
    position: relative;
}

.login-input-wrap::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    top: 15px;
    left: 10px;
    background-image: url('../../assets/images/icons/user.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    z-index: 2;
}

.password-input-wrap {
    position: relative;
}

.password-input-wrap::before {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    top: 15px;
    left: 10px;
    background-image: url('../../assets/images/icons/qulp.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    z-index: 2;

}

.authorization-button {
    font-size: 20px;
    color: #FFFFFF;
    background-color: #2E3444;
    border-radius: 4px;
    border: none;
    outline: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    padding: 17px;
}

.logo-wrap {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 46px;
}

.login-logo {
    width: 400px;
}