body {
  margin: 0;
  padding: 0;
  background-color: #f7f8fc;
  font-family: 'Montserrat';
}

a {
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6,p{
  margin: 0;
  padding: 0;
}


.left-content{
  width: 75%;
}

.container{
  display: flex;
}

.btn-wrap {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}